.viewport {
  width: 100vw;
  height: 100vh;
}

.lspace-1 {
  letter-spacing: 11px;
  text-shadow: 3px 3px #f3f3f3;
}

@media only screen and (max-width: 600px) {
  .lspace-1 {
    letter-spacing: 3px;
    text-shadow: 3px 3px #f3f3f3;
  }

  .construction {
    font-size: 24px;
  }
}

@media only screen and (max-width: 320px) {
  .lspace-1 {
    letter-spacing: 1px;
    text-shadow: 3px 3px #f3f3f3;
  }

  .construction {
    font-size: 22px;
  }
}


.git:hover {
  color: black !important;
}
.you:hover {
  color: red !important;
}
.ins:hover {
  color: #e1306c !important;
}
.fac:hover {
  color: blue !important;
}